
/* tags */



body {
    background-color: #DB699B;
    margin: 0%;
}

p, li a{ 
    color: white;
    font-family: "Jersey 15";
    letter-spacing: 1px;
    font-size: larger;
}

nav {
    width: 100%;
    height: 75px;
}

nav ul {
    margin: 0%;
    padding: 0%;
}

nav li {
    list-style-type: none;
    float: left;
    width: 33%;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
}

nav li a{
    
    padding: 10px;
    border-radius: 5%;
    color: #DB699B;

}


nav li a:hover {
    
    color: #FFB6D9;
}


h1 { 
    color: white;
    text-align: center;
    font-family: "Jersey 15";
    letter-spacing: 2px;
    font-size: 100px;
}

h2 {
    color: white;
    font-family: "Jersey 15";
    letter-spacing: 2px;
    font-size: 50px;
}


div {
    padding: 20px;
}



a {
    text-decoration: none;
}

video {
    max-width: 100%;
    height: auto;
}



/* IDs */


#home-page-image { 
    width: 500px;
}


#about-image { 
    width: 500px;
}

#home-page-text {
    text-align: left;
    padding-left: 50pt;
}



#illustration-star :hover {
    color: #A4B2E6;
}

#games-star :hover {
    color: #F8E2B2;
}

#animation-star :hover {
    color: #FFB6D9;
}

/* classes */

.container { 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.navbar-div {
    margin: 0%;
    padding: 0%;
    background-color: #FFB6D9;
}


.rounded-image { 
    border-radius:25%;
    align-self: center;
    margin: auto;
    display: block;

}

.left-col {
    width: 45%;
    float: left;
}

.right-col {
    width: 45%;
    float: right;
}


.home-tab {
    background-color: #F8E2B2;
}

.about-tab {
    background-color: #A4B2E6;
}

.projects-tab {
    background-color: #F8E2B2;
}


.star-icon {
    width: 250px; 
    height: 250px;
    margin: auto;
    display: block;
}

.thirds {
    width: 30%;
    float: left;
    display: block;
    margin-bottom: 50px;
}

.star-text { 
    list-style-type: none;
    text-align: center;
    font-size: 30pt;


}


.description { 
    text-align: justify;
    font-size: 15pt;
}

.project-title {
    padding: 0%;
    text-align: center;
}

.project-image {
    width: 100%;
    height: 100%;
    border: 2px;
}